main(class='portfolio__main')
    include ../common/header.pug
    article(class='portfolio__content')
        div(class='portfolio__collection')
            div(class='portfolio__collection--counter')
                span(class='portfolio__collection--counter-number collectionIndex')  02
                span(class='portfolio__collection--counter-separator') / 
                span(class='portfolio__collection--counter-number collectionTotal')  07
            div(class='portfolio__collection--main')
                ul(class='portfolio__collection--main-block')
                    li(class='portfolio__collection--main-block-galery')
                        div(class='portfolio__collection--photos')
                            div(class='portfolio__collection--photos-block-one')
                                img(class='portfolio__collection--photos-block-one-img' src='../../../img/1-Content-one/content_one_photo-one.jpg')
                            div(class='portfolio__collection--photos-block-two')
                                img(class='portfolio__collection--photos-block-two-img' alt='' title='' src='../../../img/1-Content-one/content_one_photo-two.jpg')/
                                img(class='portfolio__collection--photos-block-two-img' alt='' title='' src='../../../img/1-Content-one/content_one_photo-three.jpg')/
                        div(class='portfolio__collection--about')
                            div(class='portfolio__collection--about-title')
                                h2 About.
                            div(class='portfolio__collection--about-text')
                                p.
                                    Mauris vulputate a magna a ullamcorper. Morbi pretium 
                                    nunc ipsum, a maximus ex accumsan non. Nullam turpis 
                                    nunc, facilisis finibus efficitur eu, gravida volutpat 
                                    turpis. Sed non lorem ut augue fermentum fermentum 
                                    sed ac eros. Vivamus vel justo nisl. Suspendisse et 
                                    auctor risus, ac consectetur massa.
                            div(class='portfolio__collection--about-more')
                                a(class='portolio__collection--btn' href='#') View more
                    li(class='portfolio__collection--main-block-galery')
                        div(class='portfolio__collection--photos')
                            div(class='portfolio__collection--photos-block-one')
                                img(class='portfolio__collection--photos-block-one-img' src='../../../img/3-Content-three/content_three_photo-one.jpg')
                            div(class='portfolio__collection--photos-block-two')
                                img(class='portfolio__collection--photos-block-two-img' alt='' title='' src='../../../img/3-Content-three/content_three_photo-two.jpg')/
                                img(class='portfolio__collection--photos-block-two-img' alt='' title='' src='../../../img/3-Content-three/content_three_photo-three.jpg')/
                        div(class='portfolio__collection--about')
                            div(class='portfolio__collection--about-title')
                                h2 About.
                            div(class='portfolio__collection--about-text')
                                p.
                                    Mauris vulputate a magna a ullamcorper. Morbi pretium 
                                    nunc ipsum, a maximus ex accumsan non. Nullam turpis 
                                    nunc, facilisis finibus efficitur eu, gravida volutpat 
                                    turpis. Sed non lorem ut augue fermentum fermentum 
                                    sed ac eros. Vivamus vel justo nisl. Suspendisse et 
                                    auctor risus, ac consectetur massa.
                            div(class='portfolio__collection--about-more')
                                a(class='portolio__collection--btn' href='#') View more
                    li(class='portfolio__collection--main-block-galery')
                        div(class='portfolio__collection--photos')
                            div(class='portfolio__collection--photos-block-one')
                                img(class='portfolio__collection--photos-block-one-img' src='../../../img/4-Content-four/content_four_photo-one.jpg')
                            div(class='portfolio__collection--photos-block-two')
                                img(class='portfolio__collection--photos-block-two-img' alt='' title='' src='../../../img/4-Content-four/content_four_photo-two.jpg')/
                                img(class='portfolio__collection--photos-block-two-img' alt='' title='' src='../../../img/4-Content-four/content_four_photo-three.jpg')/
                        div(class='portfolio__collection--about')
                            div(class='portfolio__collection--about-title')
                                h2 About.
                            div(class='portfolio__collection--about-text')
                                p.
                                    Mauris vulputate a magna a ullamcorper. Morbi pretium 
                                    nunc ipsum, a maximus ex accumsan non. Nullam turpis 
                                    nunc, facilisis finibus efficitur eu, gravida volutpat 
                                    turpis. Sed non lorem ut augue fermentum fermentum 
                                    sed ac eros. Vivamus vel justo nisl. Suspendisse et 
                                    auctor risus, ac consectetur massa.
                            div(class='portfolio__collection--about-more')
                                a(class='portolio__collection--btn' href='#') View more
                    li(class='portfolio__collection--main-block-galery')
                        div(class='portfolio__collection--photos')
                            div(class='portfolio__collection--photos-block-one')
                                img(class='portfolio__collection--photos-block-one-img' src='../../../img/5-Content-five/content_five_photo-one.jpg')
                            div(class='portfolio__collection--photos-block-two')
                                img(class='portfolio__collection--photos-block-two-img' alt='' title='' src='../../../img/5-Content-five/content_five_photo-two.jpg')/
                                img(class='portfolio__collection--photos-block-two-img' alt='' title='' src='../../../img/5-Content-five/content_five_photo-three.jpg')/
                        div(class='portfolio__collection--about')
                            div(class='portfolio__collection--about-title')
                                h2 About.
                            div(class='portfolio__collection--about-text')
                                p.
                                    Mauris vulputate a magna a ullamcorper. Morbi pretium 
                                    nunc ipsum, a maximus ex accumsan non. Nullam turpis 
                                    nunc, facilisis finibus efficitur eu, gravida volutpat 
                                    turpis. Sed non lorem ut augue fermentum fermentum 
                                    sed ac eros. Vivamus vel justo nisl. Suspendisse et 
                                    auctor risus, ac consectetur massa.
                            div(class='portfolio__collection--about-more')
                                a(class='portolio__collection--btn' href='#') View more
                    li(class='portfolio__collection--main-block-galery')
                        div(class='portfolio__collection--photos')
                            div(class='portfolio__collection--photos-block-one')
                                img(class='portfolio__collection--photos-block-one-img' src='../../../img/6-Content-six/content_six_photo-one.jpg')
                            div(class='portfolio__collection--photos-block-two')
                                img(class='portfolio__collection--photos-block-two-img' alt='' title='' src='../../../img/6-Content-six/content_six_photo-two.jpg')/
                                img(class='portfolio__collection--photos-block-two-img' alt='' title='' src='../../../img/6-Content-six/content_six_photo-three.jpg')/
                        div(class='portfolio__collection--about')
                            div(class='portfolio__collection--about-title')
                                h2 About.
                            div(class='portfolio__collection--about-text')
                                p.
                                    Mauris vulputate a magna a ullamcorper. Morbi pretium 
                                    nunc ipsum, a maximus ex accumsan non. Nullam turpis 
                                    nunc, facilisis finibus efficitur eu, gravida volutpat 
                                    turpis. Sed non lorem ut augue fermentum fermentum 
                                    sed ac eros. Vivamus vel justo nisl. Suspendisse et 
                                    auctor risus, ac consectetur massa.
                            div(class='portfolio__collection--about-more')
                                a(class='portolio__collection--btn' href='#') View more
                    li(class='portfolio__collection--main-block-galery')
                        div(class='portfolio__collection--photos')
                            div(class='portfolio__collection--photos-block-one')
                                img(class='portfolio__collection--photos-block-one-img' src='../../../img/7-Content-seven/content_seven_photo-one.jpg')
                            div(class='portfolio__collection--photos-block-two')
                                img(class='portfolio__collection--photos-block-two-img' alt='' title='' src='../../../img/7-Content-seven/content_seven_photo-two.jpg')/
                                img(class='portfolio__collection--photos-block-two-img' alt='' title='' src='../../../img/7-Content-seven/content_seven_photo-three.jpg')/
                        div(class='portfolio__collection--about')
                            div(class='portfolio__collection--about-title')
                                h2 About.
                            div(class='portfolio__collection--about-text')
                                p.
                                    Mauris vulputate a magna a ullamcorper. Morbi pretium 
                                    nunc ipsum, a maximus ex accumsan non. Nullam turpis 
                                    nunc, facilisis finibus efficitur eu, gravida volutpat 
                                    turpis. Sed non lorem ut augue fermentum fermentum 
                                    sed ac eros. Vivamus vel justo nisl. Suspendisse et 
                                    auctor risus, ac consectetur massa.
                            div(class='portfolio__collection--about-more')
                                a(class='portolio__collection--btn' href='#') View more
                    

