article(class='portfolio__navfor')
    div(class='portfolio__navfor--images')
        ul(class='portfolio__navfor--images-list')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='../../../img/1-Content-one/nav_content-one.jpg')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='../../../img/4-Content-four/nav_content-four.jpg')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='../../../img/2-Content-two/nav_content-two-v2.jpg')
            //- li(class='portfolio__navfor--images-list-item')
            //-     img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='../../../img/3-Content-three/nav_content-three.jpg')
            //- li(class='portfolio__navfor--images-list-item')
            //-     img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='src="../../../img/1-Content-one/nav_content-one.jpg"')
            //- li(class='portfolio__navfor--images-list-item')
            //-     img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='src="../../../img/1-Content-one/nav_content-one.jpg"')
            //- li(class='portfolio__navfor--images-list-item')
            //-     img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='src="../../../img/1-Content-one/nav_content-one.jpg"')
                