article(class='portfolio__navfor')
    div(class='portfolio__navfor--arrow arrow-prev')
    div(class='portfolio__navfor--images')
        ul(class='portfolio__navfor--images-list')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='./img/1-Content-one/nav_content-one.jpg')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='./img/3-Content-three/nav_content-three.jpg')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='./img/4-Content-four/nav_content-four.jpg')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='./img/5-Content-five/nav_content-five.jpg')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='./img/6-Content-six/nav_content-six.jpg')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='./img/7-Content-seven/nav_content-seven.jpg')
            //- li(class='portfolio__navfor--images-list-item')
            //-     img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='src="../../../img/1-Content-one/nav_content-one.jpg"')
    div(class='portfolio__navfor--arrow arrow-next')