article(class='portfolio__navfor')
    div(class='portfolio__navfor--images')
        ul(class='portfolio__navfor--images-list')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='#')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='#')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='#')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='#')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='#')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='#')
            li(class='portfolio__navfor--images-list-item')
                img(class='portfolio__navfor--images-list-item-img' alt='Imagem de modelo tal' title='Img coleção tal' src='#')
                