article(class='portfolio__header')
    nav(class='portfolio__header--menu')
        a(class='portfolio__header--menu-item') Home 
        a(class='portfolio__header--menu-item') About
        a(class='portfolio__header--menu-item is--active') Works
        a(class='portfolio__header--menu-item') Contact
    div(class='portfolio__header--search')
        form(id="demo-2")
            div(class='portfolio__collection--about-text')
