article(class='portfolio__header')
    nav(class='portfolio__header--menu')
        a(class='portfolio__header--menu-item' href="#") Home 
        a(class='portfolio__header--menu-item' href="#") About
        a(class='portfolio__header--menu-item is--active' href="#") Works
        a(class='portfolio__header--menu-item' href="#") Contact
    div(class='portfolio__header--search')
        form(id="demo-2")
            div(class='portfolio__collection--about-text')
