article(class='portfolio__newsletter')
    div(class='portfolio__newsletter--lang')
        span(class='portfolio__newsletter--lang-item is--active').
            en
        span(class='portfolio__newsletter--lang-item separator')  /
        span(class='portfolio__newsletter--lang-item').
            pt
    div(class='portfolio__newsletter--social')
        span(class='portfolio__newsletter--social-media')
            a(class='portfolio__newsletter--social-media-link' target='_blank' href='https://www.instagram.com/bigblackcarr/') ig
        span(class='portfolio__newsletter--social-media')
            a(class='portfolio__newsletter--social-media-link' target='_blank' href='https://www.instagram.com/bigblackcarr/') tw
        span(class='portfolio__newsletter--social-media')
            a(class='portfolio__newsletter--social-media-link' target='_blank' href='https://www.instagram.com/bigblackcarr/') fb