.portfolio{
    &__header{
        width: 100%;
        border-bottom: 1.5px solid rgba($white-base,0.6);
        &--menu{
            width: 43%;
            height: 81px;
            margin-left: 5.5%;
            // padding: 32px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-item{
                position: relative;
                width: 100px;
                display: flex;
                justify-content: center;
                // border: 1px solid red;
                padding: 32px 0;
                font-family: $font-primary-regular;
                font-size: 18px;
                color: $text-white;
                &.is--active{
                    font-weight: bolder;
                    &::after{
                        content:'';
                        position: absolute;
                        bottom: -2px;
                        width: 95%;
                        height: 3px;
                        background-color: rgba($white-base,0.6);
                    }
                }
                &:hover{
                    border:1px solid rgba($white-base,0.6);
                }
            }
        }
    }
}