@import './fonts.scss';


// Variables for fonts :

$font-primary-regular:'Neue Machina - Regular';
$font-primary-light:'Neue Machina - Light';
$font-primary-ultrabold:'Neue Machina - Ultrabold';


//Colors base site :

$pink-base:#DFAA99;
$white-base:#FFFFFF;


//Color text:
$text-white:#FFFFFF;
$text-black:#000000;